label.chk {
    position: relative;
    cursor: pointer;
    border: 1px solid transparent;
}
label.chk:hover {
    border: 1px solid #888;
}
label.chk input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
label.chk img {
    filter: grayscale(1);
    opacity: 0.4;
}
label.chk :checked ~ img {
    filter: grayscale(0);
    opacity: 1;
}
